# Import Dependencies

In [36]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#Loading the dataset

In [37]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [39]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [40]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
286783,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0.0
286784,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0.0
286785,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0.0
286786,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0.0
286787,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0.0

In [41]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286788 entries, 0 to 286787
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    286788 non-null  float64
 1   V1      286788 non-null  float64
 2   V2      286788 non-null  float64
 3   V3      286788 non-null  float64
 4   V4      286788 non-null  float64
 5   V5      286788 non-null  float64
 6   V6      286788 non-null  float64
 7   V7      286788 non-null  float64
 8   V8      286788 non-null  float64
 9   V9      286787 non-null  float64
 10  V10     286787 non-null  float64
 11  V11     286787 non-null  float64
 12  V12     286787 non-null  float64
 13  V13     286787 non-null  float64
 14  V14     286787 non-null  float64
 15  V15     286787 non-null  float64
 16  V16     286787 non-null  float64
 17  V17     286787 non-null  float64
 18  V18     286787 non-null  float64
 19  V19     286787 non-null  float64
 20  V20     286787 non-null  float64
 21  V21     286787 non-null  float64
 22  V22     286787 non-null  float64
 23  V23     286787 non-null  float64
 24  V24     286787 non-null  float64
 25  V25     286787 non-null  float64
 26  V26     286787 non-null  float64
 27  V27     286787 non-null  float64
 28  V28     286787 non-null  float64
 29  Amount  286787 non-null  float64
 30  Class   286787 non-null  float64
dtypes: float64(31)
memory usage: 67.8 MB

In [42]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

Distribution of legit transacctions and fradulent transactions

In [43]:
credit_card_data['Class'].value_counts()

0.0    286294
1.0       493
Name: Class, dtype: int64

Dataset is unbalanced

0 -> Normal Transaction

1 -> Fradulent Transaction

In [44]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [45]:
print(legit.shape)
print(fraud.shape)

(286294, 31)
(493, 31)

Statistical measures of the data

In [46]:
legit.Amount.describe()

count    286294.000000
mean         88.369260
std         249.914888
min           0.000000
25%           5.670000
50%          22.000000
75%          77.167500
max       25691.160000
Name: Amount, dtype: float64

In [47]:
fraud.Amount.describe()

count     493.000000
mean      122.169310
std       256.423995
min         0.000000
25%         1.000000
50%         9.290000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Compare the values for both transactions

In [48]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,94605.315131,0.005860,-0.006662,0.016918,-0.006841,0.003507,0.002851,0.009265,-0.000637,0.003018,...,-0.000519,-0.001490,-0.000884,0.000023,0.000458,0.000565,0.000226,-0.000477,-0.000068,88.36926
1.0,80706.971602,-4.767859,3.617815,-7.021835,4.535862,-3.147197,-1.395168,-5.560435,0.568978,-2.576091,...,0.371347,0.712791,0.015260,-0.039872,-0.105936,0.041010,0.053935,0.167863,0.077180,122.16931

Undersampling

In [49]:
legit_sample = legit.sample(n=493)

Concatenate two df

In [50]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [51]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
265579,161030.0,2.072896,0.000113,-1.110912,0.374610,-0.004757,-1.111497,0.233105,-0.368577,0.437133,...,-0.290161,-0.664432,0.312740,-0.089660,-0.253180,0.202530,-0.066018,-0.059777,1.98,0.0
4921,4466.0,-4.052161,-2.294421,1.151780,-0.418829,-0.601492,0.617778,1.034350,-0.248810,2.856872,...,-0.774119,-0.226019,-0.250627,-0.230370,0.030031,0.848424,0.260184,1.353477,500.00,0.0
29013,35276.0,1.214522,-0.170400,0.834117,0.049518,-1.007171,-0.697776,-0.520046,0.064600,0.308073,...,0.130217,0.343199,0.009298,0.602265,0.149745,1.043646,-0.069018,-0.000198,1.00,0.0
274976,165366.0,2.150435,-0.711600,-1.809645,-1.190702,0.429994,1.172250,-1.201701,0.377468,-0.321295,...,0.261259,0.659169,0.222769,3.033637,-0.056972,-0.250771,0.006183,0.009496,19.95,0.0
179538,123228.0,-2.591393,1.675436,0.628747,-2.270426,-1.606988,-1.024626,-0.719679,1.029817,0.687352,...,0.131284,-0.380009,-0.015674,0.531241,0.174912,-0.506161,-1.419199,-0.114171,4.32,0.0

In [52]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
281844,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1.0
282124,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1.0
282130,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1.0
283125,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1.0
283655,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1.0

In [53]:
new_dataset['Class'].value_counts()

0.0    493
1.0    493
Name: Class, dtype: int64

In [54]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,94649.060852,0.064238,-0.056568,0.047031,-0.010091,0.067306,-0.028402,-0.015710,-0.039076,0.033229,...,0.022996,-0.037623,-0.000608,-0.000205,0.022798,0.002086,0.010261,-0.010805,0.017042,82.885152
1.0,80706.971602,-4.767859,3.617815,-7.021835,4.535862,-3.147197,-1.395168,-5.560435,0.568978,-2.576091,...,0.371347,0.712791,0.015260,-0.039872,-0.105936,0.041010,0.053935,0.167863,0.077180,122.169310

Splitting the data

In [55]:
X = new_dataset.drop(columns='Class', axis=1) 
Y = new_dataset['Class']

In [56]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
265579  161030.0  2.072896  0.000113 -1.110912  0.374610 -0.004757 -1.111497
4921      4466.0 -4.052161 -2.294421  1.151780 -0.418829 -0.601492  0.617778
29013    35276.0  1.214522 -0.170400  0.834117  0.049518 -1.007171 -0.697776
274976  165366.0  2.150435 -0.711600 -1.809645 -1.190702  0.429994  1.172250
179538  123228.0 -2.591393  1.675436  0.628747 -2.270426 -1.606988 -1.024626
...          ...       ...       ...       ...       ...       ...       ...
281844  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
282124  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
282130  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
283125  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
283655  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
265579  0.233105 -0.368577  0.437133  ... -0.170807 -0.290161 -0.664432
4921    1.034350 -0.248810  2.856872  ... -0.632571 -0.774119 -0.226019
29013  -0.520046  0.064600  0.308073  ... -0.117751  0.130217  0.343199
274976 -1.201701  0.377468 -0.321295  ...  0.219463  0.261259  0.659169
179538 -0.719679  1.029817  0.687352  ... -0.454377  0.131284 -0.380009
...          ...       ...       ...  ...       ...       ...       ...
281844 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
282124 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
282130 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
283125 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
283655  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
265579  0.312740 -0.089660 -0.253180  0.202530 -0.066018 -0.059777    1.98
4921   -0.250627 -0.230370  0.030031  0.848424  0.260184  1.353477  500.00
29013   0.009298  0.602265  0.149745  1.043646 -0.069018 -0.000198    1.00
274976  0.222769  3.033637 -0.056972 -0.250771  0.006183  0.009496   19.95
179538 -0.015674  0.531241  0.174912 -0.506161 -1.419199 -0.114171    4.32
...          ...       ...       ...       ...       ...       ...     ...
281844  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
282124 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
282130  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
283125 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
283655 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[986 rows x 30 columns]

In [57]:
print(Y)

265579    0.0
4921      0.0
29013     0.0
274976    0.0
179538    0.0
         ...
281844    1.0
282124    1.0
282130    1.0
283125    1.0
283655    1.0
Name: Class, Length: 986, dtype: float64

Split data to test & train

In [58]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [59]:
print(X.shape, X_train.shape, X_test.shape)

(986, 30) (788, 30) (198, 30)

# Model Training - Logistic Regression

In [60]:
model = LogisticRegression()

# Training the model

In [61]:
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

In [62]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [63]:
print('Accuracy on Training data:', training_data_accuracy)

Accuracy on Training data: 0.9479695431472082

In [64]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [65]:
print('Accuracy on Test data:', test_data_accuracy)

Accuracy on Test data: 0.9595959595959596

Saving Model

In [66]:
import pickle

In [67]:
filename = 'trained_model.sav'
pickle.dump(model, open(filename, 'wb'))